header{
    background-color: #000;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    padding:  .11rem .14rem;
    a{
        display: -webkit-flex;
        color: #fff;
        font-size: .14rem;
        img{
            width: .18rem;
            height: .18rem;
        }
        .iconfont{
            font-size: .18rem;
        }
    }
}
section{
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #e1ddde;
    .title{
        display: -webkit-flex;
        -webkit-flex-direction: column;
        h1{
            font-size: .26rem;
            line-height: .55rem;
            font-weight: 100;
            text-indent: .125rem;
            margin-bottom: .08rem;
        }
        .kind{
            display: -webkit-flex;
            flex-wrap:wrap;
            padding:0 .12rem .08rem;
            border-bottom: 1px solid #000;
            a{
                display: -webkit-flex;
                -webkit-justify-content: center;
                -webkit-align-content: center;
                width: .8rem;
                height: .32rem;
                line-height: .32rem;
                font-size: .13rem;
                background-color: #6b6b6b;
                color: #fff;
                border-radius: 5px;
                margin: 0 .18rem .165rem;
            }
            a:nth-child(1){
                background-color: #ff7300;
            }
        }
    }
    .info{
        display: -webkit-flex;
        -webkit-flex-direction:column ;
        padding:.07rem 0;
        border-bottom: 1px solid #000;
        h2{
            font-size:.08rem ;
            color: #000;
            line-height:.08rem ;
            margin-bottom: .07rem;
            text-indent: .21rem;
            font-weight: 100;
        }
        .infokind{
            display: -webkit-flex;
            flex-wrap: wrap;
            padding:0 .12rem ;
            a{
                display: -webkit-flex;
                width: .8rem;
                height: .25rem;
                background-color: #ebebeb;
                line-height: .25rem;
                font-size: .06rem;
                color: #000;
                margin: 0 .18rem .05rem;
                img{
                    width: .36rem;
                    height: .25rem;
                }
            }
        }
    }
}
footer{
    display: -webkit-flex;
    padding:.07rem 0;
    background-color: #000;
    -webkit-justify-content: space-around;
    a{
        display: -webkit-flex;
        -webkit-flex-direction: column;
        img{
            width: .18rem;
            height: .18rem;
            margin-bottom: .04rem;
        }
        span{
            font-size: .07rem;
            color: #fff;
        }
    }
}